* {box-sizing:border-box; padding:0; margin:0;}
body {padding:10px 20px;}
body, a {color:#333;}
input[type="text"] {padding:1px 5px;}

.params {display:flex;}
	.params__item {padding-right:20px;}
	.params__item-label {}
	.params__item-input {width:100%;}

.pager-block {padding:30px 0px 0px 0px;}

.pager {display:flex;}
	.pager__part {display:flex;}
	.pager__part:not(:last-of-type) {margin-right:15px;}
	.pager__page {padding:3px 7px; border:1px solid #aaa; border-right-width:0;}
	.pager__page, .pager_page:hover, .pager_page:active {text-decoration:none;}
	.pager__page:first-of-type {border-top-left-radius:3px; border-bottom-left-radius:3px;}
	.pager__page:last-of-type  {border-top-right-radius:3px; border-bottom-right-radius:3px; border-right-width:1px;}
	.pager__page_disabled {color:#aaa;}
	.pager__page_gap      {pointer-events:none;}
	.pager__page_active   {background:#85c0ff; pointer-events:none;}
